/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  position: fixed; 
  /* top: 0; */
  z-index: 1000;
  
}

/* Brand styles */
.brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.go-text{
  font-weight: 400;
}

/* Menu styles */
.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-icon {
  margin-left: 5px;
  /* margin-top: 10px; */
  font-size: 12px;
}

.specialText a{
  color:white;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20rem;
}

/* Icons styles */
.icons {
  display: flex;
  gap: 10px;
  /* margin-right: 2rem; */
  padding-right: 5rem;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4f684a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}

.notification-circle {
  position: relative;
  background-color: #F2C94C;
  color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.notification-circle--1 {
  top: -15px;
  right: 150px;
}

.notification-circle--2 {
  top: -15px;
  right: 115px;
}
.toggle {
  display: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
  }

  .menu.open {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .toggle {
    display: block;
    margin-right: 3rem;
    margin-left: 1rem;
  }

  .icons {
    gap: 8px;
    padding-right: 0;
    padding-left:0.5rem;
  }

  .icon {
    width: 24px;
    height: 24px;
    font-size: 16px;
  }
  .notification-circle--1 {
    top: -12px;
    right: 130px; 
  }

  .notification-circle--2 {
    top: -8px;
    right: 20px;
  }
  .navbar{
    justify-content:space-between;
  }
}
