
.flex-box-home {
  display: flex;
}

.text-section {
  flex: 1;
  padding: 2rem;
  background-color: #f2f1ec;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main-text{
  font-family: "Lora", serif;
  font-size: 60px;
}

.heading-home {
  margin-top: 6rem;
  padding: 2rem;
}

.heading-home h3{
  font-size: 30px;
}

.discount-text {
  margin-bottom: 0.5rem;
}

.description-text {
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.shop-button {
  padding: 0.5rem 1rem;
  background-color: #335232;
  color: white;
  border: none;
  cursor: pointer;
}

/* Image section styling */
.image-section {
  flex:1;
  display: flex;  
  background-color: #335232;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  max-height: 600px;
  position: relative;
  right: 120px;
  top: 80px;
}

.responsive-image-leaf{
  max-width: 30%;
  position: relative;
  max-height: 10%;  
  right: 170px;
  top: 550px;
  rotate: 230deg;
}

.custom-span {
  display: flex;
  align-items: center;
}

.custom-button {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #4f684a;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.number-container {
  display: flex;
  gap: 10px;
  font-family: "Lora", serif;
}

.number-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f1ec;
  text-align: center;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.user-text {
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  .text-section,
  .image-section {
    flex: 100%;
    max-width: 100%;
  }

  .heading-home {
    margin-top: 1rem;
  }
}

/* category section styling */
.category-heading {
  text-align: center;
}

.category-heading h1{
  font-family: "Lora", serif;
}

.category-heading h3{
  font-family: "Poppins", sans-serif;
}
.category-buttons{
  display: flex;
  justify-content: center;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 20px;
  padding: 2rem 4rem;

}

